# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.kate-swp

*.exe
*.test
*.prof

dist/*

cmd/tie/tie
cmd/tie-daemon/tie-daemon
cmd/tie-download/tie-download
cmd/tie-upload/tie-upload
cmd/tie-filehost/tie-filehost
cmd/tie-handle/tie-handle
examples/tiedb-client-add-get/tiedb-client-add-get
examples/tiedb-client-batch/tiedb-client-batch
examples/webservice/server/server
examples/webservice/server/authentication
examples/webservice/client/client
